<h1>Movies <%= link_to "(Add Film)", new_film_path(@film) %></h1> 

    <% @films.each do |film|%>
     <div>
        <h2><%= link_to film.title, film_path(film)%></h2>
     
     </div>
    <%end%>

